name: Test

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        python-version:
        - '3.12'

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        cache-dependency-glob: uv.lock
        python-version: ${{ matrix.python-version }}
    - uses: awalsh128/cache-apt-pkgs-action@v1
      with:
        packages: libcairo2-dev gir1.2-gtk-4.0 libgirepository1.0-dev
        version: 1
    - run: uv sync --all-extras --dev
    - run: uv run task test:ci
    - uses: qltysh/qlty-action/coverage@a19242102d17e497f437d7466aa01b528537e899
      with:
        token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
        files: ${{github.workspace}}/cov.xml
